/* You can add global styles to this file, and also import other style files */
@import "variables";
html, body { height: 100%; }
body {
  margin: 0;
  font-family: 'PT Sans', sans-serif !important;
  font-size: 1.125rem;
  line-height: 1.75rem;
}
.navbar{
  background-color: $default-foreground-color !important;
}
.text-color-primary{
  color: $font-color !important;
  &-hover:hover{
    color: $font-color !important;
  }
}
.text-color-secondary{
  color: $font-color-secondary !important;
  &-hover:hover{
    color: $font-color !important;
  }
}

.text-align-right{
  text-align: right;
}

.text-align-center{
  text-align: center;
}
.text-align-left{
  text-align: left;
}
.w-6{
  width: 1.5rem;
}
.h-6{
  height: 1.5rem;
}
.text-xs{
  font-size: .75rem;
  line-height: 1rem;
}
.text-base{
  font-size: 1rem;
  line-height: 1.5rem;
}
.font-bold{
  font-weight: 700;
  &-500{
    font-weight: 500;
  }
}
.items-start{
  align-items: flex-start;
}
a{
  text-decoration: none;
}
.set-position{
  &-relative{
    position: relative;
  }
  &-absolute{
    position: absolute;
  }
}
